.boton_turnos
{
    margin-top:20%;
    height: 50%;
    width: 100%;
    color: aliceblue;
    border: none;
    padding: 10% 20% 10% 20%;
    font-weight: 800;
    font-size: x-large;
    transition: all 0.3s ease 0s;
}

.boton_turnos:hover
{
    transform: translateY(-15px);
}

.cyan
{
    background-color: darkcyan;
}

.celeste
{
    background-color:  #5fbae9
}

.cyan:hover
{
    background-color: #006f6f;
}

.celeste:hover
{
    background-color: #1680be;
}