<br>
<br>

<div id="formContent">
    <br>
    <h1 [appSubTitulos]="" >SACAR TURNO</h1>


    <div class="div_especialidad" *ngIf="flag_especialidad">
        <div>
            <h3>ESPECIALIDAD</h3>
            <br>
        </div>
        <div class="gridTurnos" style="display: flex;" >
            <button *ngFor="let especialidad of especialidades"
            (click)="seleccEspecialidad(especialidad.nombre)"
            class="boton-especialidad " style="background-image: url({{especialidad.foto}});"></button>
        </div>
    </div>

    <div class="div_especialidad" *ngIf="flag_especialista">
        <div>
            <h3>ESPECIALISTA</h3>
            <br>
        </div>
        <div class="div_espe gridTurnos" >
            <div class="center" *ngFor="let especialista of especialistas">
                <h5>{{especialista.apellido + ", " + especialista.nombre}}</h5>
                <button style="background-image: url({{especialista.foto}});" 
                *ngIf="especialista.aprobado"
                (click)="seleccEspecialista(especialista)" 
                class="boton-especialista"></button>
            </div>
        </div>
    </div>

    <div class="div_especialidad" *ngIf="flag_Datos">
        <div>
            <h3>FECHA Y HORARIO</h3>
        </div>
        <div class="div_botones gridTurnos">
            <button *ngFor="let turno of turnos" (click)="seleccionarTurno(turno)" class="boton_turno">{{turno | formatoFecha}}</button>
        </div>
    </div>


</div>
  