<body>
    <div id="formContent">
        <h2 class="active cursor margen" (click)="volver()">Volver</h2>
        <h1>¿Que usuario desea crear?</h1>
        <div class="div_botones">
            <button (click)="usuario()" style="background-image: url('../../../assets/img/cliente.png');" class="btn-img">
            </button>
          
            <button (click)="Especialista()" style="background-image: url('../../../assets/img/medicos.jpg');" class="btn-img" >
            </button>
        </div>
    </div>
</body>

