
<div id="formContent">
    <h2 class="active cursor" (click)="usuario()">Usuario</h2>
    <h2 class="active cursor"  routerLink="especialista"> Especialista </h2>
        
    <div class="fadeIn first">
        <img src="../../../assets/logos/icons8-usuario-masculino-en-círculo-100.png" style="width: 100px;" id="icon" alt="User Icon" />
    </div>
    <br><br>
    <router-outlet></router-outlet>
    <p>¿Ya tienes una cuenta? <b class="cursor" (click)="ingresar()">Ingresa</b></p>

 </div>
  
  
  
