<body>
    <div class="div_izquierda">
        <h3>APROBACIONES PENDIENTES</h3>
        <hr class="my-4">
        <h3 *ngIf="auth.noAprobadosA.length ==0">NO HAY APROBACIONES PENDIENTES</h3>
        <div *ngFor="let espe of auth.noAprobadosA" class="div_aprobaciones">
            <div>
                <p>{{espe.apellido +", "+ espe.nombre}}</p>
            </div>
            <button class="boton_detalles" (click)="MostrarDetale(espe)">Detalles</button>
        </div>
        <hr class="my-4">

    </div>

    <div class="div_derecha">
        <div  *ngIf="!mostrarDetalle">
          <div class="fadeIn first center" >
            <h2 routerLink="listado" class="active cursor"> LISTADO </h2>
            <h2 routerLink="admin-registrar" class="active cursor"> ADMINISTRADOR </h2>
            <h2 routerLink="usuario-registrar" class="active cursor" > USUARIO </h2>
            <h2 routerLink="especialista-registrar" class="active cursor"> ESPECIALISTA </h2>
            </div>
          <div class="fadeIn first">
            <img class="center" src="../../../assets/logos/icons8-usuario-masculino-en-círculo-100.png" style="width: 100px;" id="icon" alt="User Icon" />
          </div>
          <br><br>
          <router-outlet></router-outlet>
        </div>

        <div *ngIf="mostrarDetalle">
            <div class="fadeIn first center" >
                <h2 class="inactive cursor" (click)="altaAdmin()"> ALTAS </h2>
                <h2 class="active cursor" > DETALLE </h2>
                  <img class="center img_espe" src="{{especialista.foto}}" style="width: 100px;" id="icon" alt="User Icon" />
                </div>
                <br><br>
                <form class="needs-validation padding">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label label_desc">Nombre: {{especialista.nombre}}</label>
                      
                    </div>
        
                    <div class="col-sm-6">
                      <label for="lastName" class="form-label label_desc">Apellido: {{especialista.apellido}} </label>
                      
                    </div>
      
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label label_desc">Edad: {{especialista.edad}}</label>
                    </div>
      
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label label_desc">Documento: {{especialista.dni}}</label>
                    </div>
        
                    <div class="col-12">
                      <label for="email" class="form-label label_desc">Email: {{especialista.email}}</label>
                    </div>
      
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label label_desc">Especialidades: <p *ngFor="let e of especialista.especialidades">- {{e}}</p></label>
                    </div>

                  </div>
        
                  <hr class="my-4">
                  <button type="submit" class="fadeIn fourth boton-Agregar" (click)="aprobar(especialista.uid)">APROBAR</button>
                </form>
        </div>
    </div>
</body>
