<body>
    <div class="div_der">
        <app-boton-inicio></app-boton-inicio>
    </div>

    <div class="div_izq">
        <!--<img class="banner" src="../../../assets/img/bannerCyan2.png"> -->
        <div class="div_info">
            <h1 class="titulo">{{auth.UsuarioActivo.nombre | titulo}}</h1>
        </div>
        <div class="media">
            <div class="div_imgs">
                <img class="img1" src="../../../assets/img/1.jpg">
                <div class="dos_img">
                    <img class="img2" src="../../../assets/img/2.jpg">
                    <img class="img2 margen" src="../../../assets/img/3.jpg">
                </div>
            </div>
            <p class="texto">Nuestra clínica OnLine, especialista en salud, cuenta actualmente con consultorios,
                dos laboratorios, y una sala de espera general. Estamos abiertos al público de lunes a
                viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.
            </p>
        </div>
        
    </div>
</body>

