<nav class="navbar navbar-expand-lg navbar-light bg-light div_navbar">
    <div class="container-fluid">
      <img src="../../../assets/logos/icons8-caduceus-100.png" class="logo">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/inicio/mis-turnos">Mis Turnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="mi-perfil">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/inicio/usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="salir()">Salir</a>
          </li>
          <h3 class="perfil">{{auth.UsuarioActivo.perfil | perfil}}</h3>
        </ul>
      </div>
    </div>
  </nav>
<body>
  <router-outlet></router-outlet>
</body>
