<br>
<br>

<div id="formContent">
    <h1>MIS TURNOS</h1>
    <div style="width: 100%;">
        <button class="boton-filtrar " (click)="MostrarFiltro()">FILTRAR</button>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Especialidad</th>
                <th *ngIf="auth.UsuarioActivo.perfil=='paciente'" >Especialista</th>
                <th *ngIf="auth.UsuarioActivo.perfil=='especialista'" >Paciente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <div style="text-align: center; width: 100%;" *ngIf="turnosFiltrados.length == 0"><h3 class="titulo" >No tiene turnos</h3><br></div>

        <tbody *ngFor="let turno of turnosFiltrados">
            <tr>
                <td>{{turno.especialidad}}</td>
                <td  *ngIf="auth.UsuarioActivo.perfil=='paciente'">{{turno.especialista.apellido +", "+ turno.especialista.nombre}}</td>
                <td  *ngIf="auth.UsuarioActivo.perfil=='especialista'">{{turno.paciente.apellido +", "+ turno.paciente.nombre}}</td>
                <td>{{turno.fecha}}</td>
                <td>{{turno.estado}}</td>
                <td>
                    <div style="display: flex;">
                        <button class="boton_accion rojo" *ngIf="turno.estado=='aceptado'" (click)="MostrarCancelar(turno)">Cancelar</button>
                        <button class="boton_accion rojo" *ngIf="turno.estado=='pendiente' && auth.UsuarioActivo.perfil=='especialista'" (click)="RechazarTurno(turno)">Rechazar</button>
                        <button class="boton_accion darkcyan" *ngIf="turno.estado=='pendiente' && auth.UsuarioActivo.perfil=='especialista'" (click)="AceptarTurno(turno)">Aceptar</button>
                        <button class="boton_accion darkcyan" *ngIf="turno.estado=='aceptado' && auth.UsuarioActivo.perfil=='especialista'" (click)="MostrarFinalizar(turno)">Finalizar</button>
                        <button class="boton_accion celeste" *ngIf="turno.diagnostico != ''" (click)="MostrarResena(turno)">Detalle</button>
                        <button class="boton_accion darkcyan" *ngIf="turno.estado=='realizado' && auth.UsuarioActivo.perfil=='paciente'">Completar Encuesta</button>
                        <button class="boton_accion darkcyan" *ngIf="turno.diagnostico != '' && auth.UsuarioActivo.perfil=='paciente' && turno.comentario_usuario == ''" (click)="MostrarCalificar(turno)">Calificar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    
    <div class="div_fondo_filtro" *ngIf="mostrarFiltro">
        <div class="div_filtro">
            <h3>FILTRAR</h3>

            <div style="width: 100%; height:100%" *ngIf="mostrarSelector">
                <div class="gridTurnos" style="display: flex;">
                    <button class="boton-filtro " (click)="MostrarFiltroEspecialidades()">ESPECIALIDAD</button>
                    <button class="boton-filtro " (click)="MostrarFiltroEspecialistas()">ESPECIALISTA</button>
                    <button class="boton-filtro " (click)="QuitarFiltros()">QUITAR FILTROS</button>
                </div>
            </div>
            
            <div style="width: 100%; height:100%" *ngIf="mostrarFiltroEspecialistas">
                <div class="gridTurnos" style="display: flex;">
                    <button *ngFor="let especialista of auth.especialistas" (click)="SeleccionarFiltroEspecialista(especialista.uid)" class="boton-filtro " >{{especialista.apellido + ", " + especialista.nombre}}</button>
                </div>
            </div>

            <div style="width: 100%; height:100%" *ngIf="mostrarFiltroEspecialidades">
                <div class="gridTurnos" style="display: flex;">
                    <button *ngFor="let especialidad of base.especialidades" (click)="SeleccionarFiltroEspecialidades(especialidad.nombre)" class="boton-filtro ">{{especialidad.nombre}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="div_fondo_filtro" *ngIf="mostrarFinalizar">
        <div class="div_filtro">
            <h3>Finalizar</h3>
            <br>

            <div style="width: 100%; height:100%">
                <h4>DIAGNOSTICO</h4>
                <input type="text" [(ngModel)]="diagnostico">
                <br>
                <br>

                <h4>COMENTARIO</h4>
                <input type="text" [(ngModel)]="comentario">
                <br>
                <button class="boton-Agregar" (click)="Finalizar()">Finalizar Turno</button>
            </div>
        </div>
    </div>

    <div class="div_fondo_filtro" *ngIf="mostrarResena">
        <div class="div_filtro">
            <h3>Reseña</h3>
            <br>

            <div style="width: 100%; height:100%">
                <h4>DIAGNOSTICO</h4>
                <p>{{turnoSeleccionado.diagnostico}}</p>
                <br>

                <h4>COMENTARIO ESPECIALISTA</h4> 
                <p>{{turnoSeleccionado.comentario_especialista}}</p>
                <br>

                <h4 *ngIf='turnoSeleccionado.comentario_usuario != ""'>COMENTARIO PACIENTE</h4> 
                <p *ngIf='turnoSeleccionado.comentario_usuario != ""'>{{turnoSeleccionado.comentario_usuario}}</p>
                <br>
                <button class="boton-Agregar" (click)="CerrarResena()">Cerrar</button>
            </div>
        </div>
    </div>

    <div class="div_fondo_filtro" *ngIf="mostrarCalificar">
        <div class="div_filtro">
            <h3>Reseña</h3>
            <br>

            <div style="width: 100%; height:100%">
                <h4>COMENTARIO</h4> 
                <input type="text" [(ngModel)]="comentario">
                <br>
                <button class="boton-Agregar" (click)="Calificar()">Calificar</button>
            </div>
        </div>
    </div>

    <div class="div_fondo_filtro" *ngIf="mostrarCancelar">
        <div class="div_filtro">
            <h3>Cancelar</h3>
            <br>

            <div style="width: 100%; height:100%">
                <h4>RAZÓN</h4> 
                <input type="text" [(ngModel)]="razon">
                <br>
                <button class="boton-Agregar" (click)="CancelarTurno()">Cancelar Turno</button>
            </div>
        </div>
    </div>
 </div>
  