<body>
        <div id="formContent">
          <h2 class="active cursor"> Ingresar </h2>

          <div class="fadeIn first div_botones">
              <button *ngFor="let usuario of authService.usuariosLogin"
               style="  background-image: url('{{usuario.foto}}');"
              (click)="usuarioRapido(usuario)"
              class="boton_rapido"></button>
          </div>
      
          <form [formGroup]="forma" (ngSubmit)="Ingresar()">
            <input type="text"  class="fadeIn second border" formControlName="email" placeholder="Email">
            <small class="invalid texto_rojo"
                *ngIf="forma.controls.email.errors?.required &&
                forma.controls.email.touched">
                El email es requerido
              </small>


            <input type="password"  class="fadeIn third border" formControlName="contrasena" placeholder="Contraseña">
            <small class="invalid texto_rojo"
                *ngIf="forma.controls.contrasena.errors?.required &&
                forma.controls.contrasena.touched">
                La contraseña es requerida
              </small>
            <br>

            <button type="submit" [disabled]="forma.invalid" class="fadeIn fourth boton-Agregar" >Ingresar</button>
          </form>
          <br>

          <p >¿No tienes una cuenta? <b class="cursor" (click)="registrar()">Registrate</b></p>
        </div>
</body>
